#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    img {
        padding: 30px 0 10px;
        max-width: 95%;
    }

    h2+img {
        padding-top: 0;
    }

    a {
        color: $fontColor;
    }
}